extends layout

block content
  .glitch-wrapper
    .glitch(data-text="bela_adormecida") bela_adormecida
  .text-wrap
    p Um pequeno quarto, estranha e irrepreensivelmente arrumado. Numa das paredes está pendurado um relógio, que toca todas as manhãs, sempre à mesma hora. Anoitece. Uma bela e jovem mulher, de pele pálida e com uma peruca de fios de cabelo pretos que lhe caem ligeiramente abaixo do queixo e de lábios pintados de vermelho, entra, toma um comprimido e deita-se na cama, imóvel. Está pronta para ser visitada.
